---
import FormatDate from "~/components/react/Date/FormatDate";
import UserCard from "~/components/vue/UserCard/UserCard.vue";
import PostCard from "./PostCard";
name: 'Post'
const {username,iconPath,created_at,description,likes, replies}= Astro.props
console.log(likes)
---
<>
    <div class="flex flex-row">
        <div class="flex-auto">
            <UserCard username={username} iconPath={iconPath}/>
        </div>
        <FormatDate dateString={"2023-06-17T05:21:56.000Z"}/>
    </div>
    <PostCard description={description} likes={["hoge"]} replies={replies}/>
</>