---
import Accordion from "../../vue/Accordion/Accordion.vue"
---

<header class=" box-border flex flex-row items-center p-12 absolute w-[100vw] h-[10vh] left-0 top-0 border-b-2 border-black">
    <a href="/home" class="flex-auto font-semibold text-2xl">サービス名</a>
    <Accordion client:only="vue"/>
</header>
<style>

</style>

<script>

</script>